<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Home page</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
 <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div th:each = "movie: ${movies}" >
    <p th:text="${movie.getTitle()}">444</p>
    <p th:text="${movie.getCountryDto().getName()}">444</p>
    <p th:text="${movie.getBudget()}">444</p>
    <p th:text="${movie.getDuration()}">444</p>
    <p th:text="${movie.getYear()}">444</p>
    <p th:text="${movie.getDirectorDto().getName()}">444</p>
    <p th:text="${movie.getMovieLink()}">444</p>
    <div th:each="actors:${movie.getActorDtos()}">
        <p th:text="${actors.getName()}">444</p>
    </div>
    <div th:each="genres:${movie.getGenreDtos()}">
        <p th:text="${genres.getName()}">444</p>
    </div>
</div>
</body>
</html>