<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/home}">KinoPopoQ</a>
    <a style="color:blue;" class="navbar-brand" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="banner">
    <div class="banner-text">
        <h1>Gor Vardanyan</h1>
        <h3>ԽԱՎԱՐՄԱՆ  ՕՐԸ</h3>
        <h6>Besampt Kino Production</h6>
    </div>
</div>

<div class="gold">
    <section id="main">
        <section class="thumbnails">
            <div>
                <a href="" th:href="${movies.get(0).getMovieLink()}">
                    <img alt="" th:src="${movies.get(0).getMovieLink()}"/>
                    <h3 th:text="${movies.get(0).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(1).getMovieLink()}">
                    <img alt="" th:src="${movies.get(1).getMovieLink()}"/>
                    <h3 th:text="${movies.get(1).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(2).getMovieLink()}">
                    <img alt="" th:src="${movies.get(2).getMovieLink()}"/>
                    <h3 th:text="${movies.get(2).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(3).getMovieLink()}">
                    <img alt="" th:src="${movies.get(3).getMovieLink()}"/>
                    <h3 th:text="${movies.get(3).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(4).getMovieLink()}">
                    <img alt="" th:src="${movies.get(4).getMovieLink()}"/>
                    <h3 th:text="${movies.get(4).getTitle()}"></h3>
                </a>
            </div>
        </section>
        <section class="thumbnails">
            <div>
                <a href="" th:href="${movies.get(5).getMovieLink()}">
                    <img alt="" th:src="${movies.get(5).getMovieLink()}"/>
                    <h3 th:text="${movies.get(5).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(6).getMovieLink()}">
                    <img alt="" th:src="${movies.get(6).getMovieLink()}"/>
                    <h3 th:text="${movies.get(6).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(7).getMovieLink()}">
                    <img alt="" th:src="${movies.get(7).getMovieLink()}"/>
                    <h3 th:text="${movies.get(7).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(8).getMovieLink()}">
                    <img alt="" th:src="${movies.get(8).getMovieLink()}"/>
                    <h3 th:text="${movies.get(8).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(9).getMovieLink()}">
                    <img alt="" th:src="${movies.get(9).getMovieLink()}"/>
                    <h3 th:text="${movies.get(9).getTitle()}"></h3>
                </a>
            </div>
        </section>
        <section class="thumbnails">
            <div>
                <a href="" th:href="${movies.get(10).getMovieLink()}">
                    <img alt="" th:src="${movies.get(10).getMovieLink()}"/>
                    <h3 th:text="${movies.get(10).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(11).getMovieLink()}">
                    <img alt="" th:src="${movies.get(11).getMovieLink()}"/>
                    <h3 th:text="${movies.get(11).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(12).getMovieLink()}">
                    <img alt="" th:src="${movies.get(12).getMovieLink()}"/>
                    <h3 th:text="${movies.get(12).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(13).getMovieLink()}">
                    <img alt="" th:src="${movies.get(13).getMovieLink()}"/>
                    <h3 th:text="${movies.get(13).getTitle()}"></h3>
                </a>
            </div>
            <div>
                <a href="" th:href="${movies.get(14).getMovieLink()}">
                    <img alt="" th:src="${movies.get(14).getMovieLink()}"/>
                    <h3 th:text="${movies.get(14).getTitle()}"></h3>
                </a>
            </div>
        </section>
    </section>
</div>


</body>
</html>