<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/preview.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="../static/css/preview.css"/>

</head>
<body>

<div id="base" class="">

    <div id="u0" class="ax_default image">
        <img id="u0_img" class="img " alt="" th:src="${movie.getMovieLink()}"/>
        <div id="u1" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <div id="u2" class="ax_default box_1">
        <div id="u2_div" class=""></div>
        <div id="u3" class="text" style="display: none; visibility: hidden">

        </div>
    </div>

    <div id="u4" class="ax_default heading_3">
        <div id="u4_div" class=""></div>
        <div id="u5" class="text" style="visibility: visible;">
            <p><span>Movie Title</span></p>
            <p><span th:text="${movie.getTitle()}"></span></p>
            <p>Director</p>
            <p>Composer</p>
            <p>Harevan</p>
        </div>
    </div>

    <div id="u6" class="ax_default box_1">
        <div id="u6_div" class="">
            <iframe width="560" height="315" th:src="'https://www.youtube.com/embed/' + ${movieId}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
        <div id="u7" class="text" style="display: none; visibility: visible">

        </div>
    </div>
</div>

</body>
</html>